$colors : (
    Very-Light-Grayish-Blue: hsl(240, 78%, 98%),
    Light-Grayish-Blue: hsl(234, 14%, 74%),
    Grayish-Blue: hsl(233, 13%, 49%),
    Dark-Grayish-Blue: hsl(232, 13%, 33%),
    gradient_1 : hsl(236, 72%, 79%),
    gradient_2 : hsl(237, 63%, 64%),
);

$size : 15px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: url('../images/bg-top.svg') 100% 0 no-repeat, url('../images/bg-bottom.svg') 0 100% no-repeat;
    background-color: map-get($colors, Very-Light-Grayish-Blue);
    height: 100vh;
    font-size: $size;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width : 700px){
        background: url('../images/bg-top.svg') 140px -50px no-repeat;
        background-color: map-get($colors, Very-Light-Grayish-Blue);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    width: 70%;

    @media screen and (max-width : 700px){
        width: 90%;
        display: grid;
        row-gap: 50px;
        height: 80%;
    }
    

    & .title {
        color: map-get($colors, Grayish-Blue);
        @media screen and (max-width : 700px){
            text-align: center;
        }
    }

    & .section_toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        color: map-get($colors, Light-Grayish-Blue);
        @media screen and (max-width : 700px){
            width: 85%;
            margin: auto;
        }


        & .toggle {
            width: 60px;
            height: 30px;
            border-radius: 20px;
            background: linear-gradient(to left, map-get($colors, gradient_2) 50%, map-get($colors, gradient_1));
            position: relative;
            cursor: pointer;

            &:hover {
                background: map-get($colors, gradient_1);
            }
           
            & .round {
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                top: 50%;
                transform: translate(100%,-50%);
                background-color: map-get($colors, Very-Light-Grayish-Blue);
                margin: 0 4px;
                transition: transform .2s linear;
        
                &.active {
                    transform: translate(0, -50%);
                    
                }
            }
        }
    }

    & .price_cards {
        & .card_container {
            margin: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: map-get($colors, Grayish-Blue);
            @media screen and (max-width : 700px){
                margin: 0;
                display: grid;
                row-gap: 20px;
                grid-template-columns: 1fr;
            }
            & .card {
                background-color: #FFF;
                padding: 30px;
                box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .1);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 5px;
                width: 280px;
                height: 350px;
                font-weight: 700;
                @media screen and (max-width : 700px){
                   height: 370px;
                   width: 100%;
                   padding: 25px;
                }

                &:nth-child(2){
                    transform: scale(1.07, 1.12);
                    background: linear-gradient(to top, map-get($colors, gradient_2) 50%, map-get($colors, gradient_1));   
                    color: #FFF;
                    @media screen and (max-width : 700px){
                        transform: scale(1);
                    }

                    & .price {
                        color: #FFF;
                    }

                    & .btn {
                        background: #FFF;
                        color: map-get($colors, gradient_2);

                        &:hover {
                            background: transparent;
                            color: #FFF;
                            border-color: #FFF;
                            
                        }
                    }
                }

                & .level {
                    display: flex;
                    justify-content: center;
                }

                & .price {
                    font-size: 50px;
                    color: map-get($colors, Dark-Grayish-Blue);
                    text-align: center;

                }

                & .wrapper {
                    & div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        border-bottom: 1px solid map-get($colors, Light-Grayish-Blue);
                        
                        &:first-child {
                            border-top: 1px solid map-get($colors, Light-Grayish-Blue);
                        }
                    }
                }

                & .btn {
                    border: 1px solid #FFF;
                    outline: none;
                    padding: 10px;
                    border-radius: 5px;
                    background: linear-gradient(to left, map-get($colors, gradient_2) 50%, map-get($colors, gradient_1));   
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 10px!important;
                    cursor: pointer;
                    font-weight: bolder;
                    transition: .2s linear;
                    &:hover {
                        background: linear-gradient(to left, #FFF, #FFF);   
                        color: map-get($colors, gradient_2);
                        border-color: map-get($colors, Grayish-Blue);
                    }
                }
            }
        }
    }

    & .attribution {
        font-size: 16px;

        @media screen and (max-width : 700px){
            font-size: 12px;
            margin-bottom: 50px;
        }

        & a{
            color: map-get($colors, gradient_2);
            text-decoration: none;
        }
    }
}




